name: Validate lexicon

on:
  pull_request_target:
    paths:
      - "lexicons/**"
      - ".github/workflows/ci.yml"

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ">=1.25"

      - name: Install goat
        run: go install github.com/bluesky-social/goat@latest

      - name: Print goat version
        run: goat -v

      - name: Lint lexicon files
        continue-on-error: true
        run: |
          goat lex lint | tee lint.txt

      - name: Check lexicon files for breaking changes
        continue-on-error: true
        run: |
          goat lex breaking | tee breaking-changes.txt

      - name: Check for dns records for lexicon
        continue-on-error: true
        env:
          DID: ${{ vars.DID }}
        run: |
          goat lex check-dns --did $DID | tee check-dns.txt
      - uses: actions/upload-artifact@v6
        with:
          name: check-logs
          path: |
            lint.txt
            breaking-changes.txt
            check-dns.txt

  updateComment:
    runs-on: ubuntu-latest
    needs: check
    permissions:
      pull-requests: write
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: "24.x"
      - uses: actions/download-artifact@v7
        with:
          name: check-logs
          path: logs

      - run: ls -lR logs

      - name: Prepare comment
        uses: actions/github-script@v8
        id: comment
        with:
          script: |
            const fs = require('node:fs/promises')

            const lint = await fs.readFile('logs/lint.txt', { encoding: "utf8" }).catch((err) => { return false })
            const changes = await fs.readFile('logs/breaking-changes.txt', { encoding: "utf8" }).catch((err) => { return false })
            const dns = await fs.readFile('logs/check-dns.txt', { encoding: "utf8" }).catch((err) => { return false })

            let output = []
            if (lint) {
              if (lint.includes("error")) {
                output.push("## ‼️ Linting Issues")
                output.push(lint)
              } else {
                output.push("## ✅ Linting")
                output.push(lint)
              }
            }

            if (changes) {
              output.push("## ‼️ Breaking Changes")
              output.push(changes)
            } else {
              output.push("## ✅ No breaking changes")
            }

            if (dns && !dns.includes("successfully")) {
              output.push("## ‼️ DNS Issues")
              output.push(dns)
            }

            await fs.writeFile('comment.txt', output.join("\n\n"), { encoding: 'utf8' })

      - name: Print comment
        run: cat comment.txt
      - name: Add comment to pull request with results
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
          PULL_REQUEST: ${{ github.event.pull_request.number }}
        run: |
          gh pr comment $PULL_REQUEST --create-if-none --edit-last --body-file comment.txt --repo $REPO
